{{ partial "header.html" . }}

<section id="banner">
  <div class="inner">
    <h2>{{ .Title | safeHTML }}</h2>
	</div>
</section>
<section class="wrapper style4">
  <div class="inner">
    <h2>Trainerinnen</h2>
    <div class="cards">
      {{ range .Site.Data.trainer }}
      <div class="card">
        {{ with .license }}
        <div class="license">
          <div class="type">{{ . }}</div>
          <div>Lizenz</div>
        </div>
        {{ end }}
        <div class="imgBx">
          {{ with resources.Get .img }}
          <img src="{{ .RelPermalink }}">
          <div class="line"></div>
          {{ end }}
        </div>
        <div class="contentBx">
          <h2>{{ .name }}</h2>
          {{ with .teams }}
          <div class="team">
            <div>Team{{ if (gt (. | len) 1) }}s{{ end }} :</div>
            {{ range . }}
            <div class="tag">{{ . }}</div>
            {{ end }}
          </div>
          {{ end }}
          <div class="description">
            {{ .text | markdownify }}
          </div>
        </div>
      </div>  
      {{ end }}
    </div>
    
  </div>



</section>

{{ partial "footer.html" . }}