@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* manage transparency of header line */
:root:has(#banner.offScreen),
:root:has(#HTB.offScreen) 
{

  header h1 {
    background-color: var(--background);
    visibility: visible;
    opacity: 1;
  }

  div.section {
    background-color: black;
  }

}

  .bgr-pink-splash {
    @apply bg-pink-splash-sm md:bg-pink-splash-md lg:bg-pink-splash-lg xl:bg-pink-splash-full
  }

  .bgr-pink-splash-portrait {
    @apply  bg-pink-splash-portrait-sm md:bg-pink-splash-portrait-md lg:bg-pink-splash-portrait-lg xl:bg-pink-splash-portrait-full
  }

h2.title {
  @apply font-serif text-xl md:text-4xl px-7 pt-3 pb-2 md:pt-5 md:pb-4 mb-10 opacity-0 animate-blend-scale animation-delay-500;
}
h2.title::before {
  @apply h-[2px] w-0 bg-white  top-0 left-0 absolute animate-grow-width animation-delay-500;
  content: '';
  display: block;
}

h2.title::after {
  @apply h-[2px] w-0 bg-white bottom-0 right-0 absolute animate-grow-width animation-delay-500;
  content: '';
  display: block;
}

:root {
  --foreground: white;
  --background: theme(colors.lipstick.950);
  --color-primary-loading: theme(colors.lipstick.600);
  --color-secondary-loading: theme(colors.oxford-blue.200);
}

.main-loading-page {
  --color-primary-loading: theme(colors.lipstick.900);
  --color-secondary-loading: theme(colors.lipstick.800);
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes spin { 
  0.00% {
    animation-timing-function: cubic-bezier(0.62,0.01,0.92,0.40);
    transform: translate(0.00px,0.00px) rotate(0.00deg) scale(1.00, 1.00) skew(0deg, 0.00deg) ;
    opacity: 1.00;
  }
  50.00% {
    animation-timing-function: cubic-bezier(0.08,0.60,0.39,0.97);
    transform: translate(0.00px,0.00px) rotate(180.00deg) ;
  }
  100.00% {
    animation-timing-function: cubic-bezier(0.08,0.60,0.39,0.97);
    transform: translate(0.00px,0.00px) rotate(360.00deg) ;
  } 
}